html {
  height: 100%;
  width: 100%;
}

/* Media query para pantallas de celular */
@media (max-width: 767px) {
    .offcanvas {
        right: 0;
        left: unset;
        margin-top: auto;
        height: 100vh
    }

    .offcanvas-body {
        text-align: right;
        margin-top: auto;
        height: 100vh
    }
}

.carousel-item {
  transition: opacity 1s ease-in-out;
}

.presentacion {
  margin-left: 20px;
  margin-right: 20px;
}

.reconocimiento {
  text-align: right;
}

.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.footer-content {
  flex-direction: column-reverse;
  gap: var(--gutter-small);
}
.footer-text {
  text-align: center;
}

.footer-text {
  font-size: var(--text-small);
}

.footer-text a {
  color: var(--sub);
}

.footer-links {
  display: flex;
  gap: var(--gutter-small);
  list-style-type: none;
}

.footer-link img {
  block-size: 50px;
  inline-size: 50px;
}

body.dark .footer-link img {
  filter: invert(1);
}








